.video-container{
    display: grid;
    padding: 20px;
    width: 100%;
    grid-template-columns: auto auto auto;
    height:90vh;
    overflow: scroll;
}

.video-container::-webkit-scrollbar{
    display:none;
}

@media (max-width:1450px) {
    .video-container{
        grid-template-columns: auto auto;
    }
}

@media (max-width:900px) {
    .video-container{
        grid-template-columns: auto;
    }
}